.wrap {
  margin: 10px auto;
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  color: #fff;
  & .container {
    width: 180px;
    height: 250px;
    padding: 15px;
  }

  & .icon {
    font-size: xxx-large;
  }

  & .name {
    margin-top: 100px;
    font-size: x-large;
    font-weight: 100;
  }

  & .unit {
    font-size: small;
    margin-top: 10px;
  }
}
