.wrap {
  display: flex;
  & .wrap-col {
    margin-left: 8px;
    & .col {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 20px;
      height: 80px;
      border: 1px solid #e6ecef;
    }

    & p {
      margin-top: 10px;
      font-size: 10px;
    }
  }
}
