.wrapper {
  color: #fff;
  height: 60px;
  font-size: small;
  padding: 10px;

  & p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  & .email {
    & .icon {
      margin-right: 5px;
    }
  }
}
