.name {
  color: #93775e;
  margin: 10px 0 5px;
  font-size: medium;
  font-weight: bold;
}

.name,
.job {
  text-align: center;
}

.job {
  color: #93775e;
  font-size: small;
  font-weight: lighter;
  margin-bottom: 20px;
}
